* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

p {
    margin: 0;
}

h1 {
    color: #2c3e50 !important;
    font-weight: 700;
}

.caja-derecha {
    width: 900px;
    height: 30vh;
    background-color: #ecf0f1;
}

.box-imports {
    width: 100%;
    height: 300px;
}

.box-p-left, .box-p-right {
    width: 400px;
    height: 100%;
    background-color: #fefefe;
}

.head-box {
    margin-bottom: 0 !important;
}

.p-head-description {
    color: #2c3e50;
    font-weight: 600;
    line-height: 1 !important;
}

.box-description-time p {
    font-size: 12px;
    line-height: 12px;
    color: #34495e;
}

.p-actualizacion {
    width: 25px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    color: #34495e;
}

.box-description-time i {
    font-size: 12px;
    line-height: 12px !important;
    margin-left: 10px;
    margin-right: 5px;
    color: #8e44ad;
}

footer {
    min-width: 1000px;
    width: 100%;
    height: 150px;
    text-align: center;
}

footer .alert {
    margin: 0 auto;
    margin-top: 50px;
    display: none;
}

footer p {
    margin-top: 50px;
    font-size: 13px;
}
